/* CHAPTER 43-48 */


/* T2 */
/* img {
    width: 200px;
    margin-top: 200px ;
    margin-left: 200px;
}
 */

/* CHAPTER 49-52
/* T1

/* table{
    margin-left: 500px;
}
.submit{
    margin-left: 600px;
    padding: 15px;
    text-decoration: underline;
    border-radius: 80%;
} */